*.swp
*.gem
Gemfile.lock
.bundle
.idea
*~
.ruby-version
elasticsearch.tar.gz
/elasticsearch/*
lumberjack.key
target/
vendor/
/spec/fixtures/server.key
/spec/fixtures/server.crt
/lib/logstash/outputs/elasticsearch/templates/ecs-v*
*.iml
/.idea/
/dockerfiles/bin/
/dockerfiles/.env
gem-private_key.pem
builds/

