name: Build and Test logstash-output-opensearch plugin
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  Unit-test:
    strategy:
      matrix:
        logstash: [ "7.13.2" ]
    name: Unit Test logstash-output-opensearch
    runs-on: ubuntu-latest
    env:
      LOGSTASH_VERSION: ${{ matrix.logstash }}

    steps:
      - name: Checkout plugin
        uses: actions/checkout@v1

      - name: Build and pull docker files for unit tests with logstash ${{ matrix.logstash }}
        run: |
          ./scripts/unit-test/docker-setup.sh

      - name: Run unit tests
        run: |
          ./scripts/unit-test/docker-run.sh


  Integration-Test-OpenSearch:
    strategy:
      matrix:
        logstash: [ "7.13.2" ]
        opensearch: [ "1.0.0" ]
        secure: [ true, false ]

    name: Integration Test logstash-output-opensearch against OpenSearch
    runs-on: ubuntu-latest
    env:
      LOGSTASH_VERSION: ${{ matrix.logstash }}
      OPENSEARCH_VERSION: ${{ matrix.opensearch }}
      SECURE_INTEGRATION: ${{ matrix.secure }}
    steps:
      - name: Checkout plugin
        uses: actions/checkout@v1

      - name: Build and pull docker files for OpenSearch-${{ matrix.opensearch }}-security-${{ matrix.secure }} for logstash ${{ matrix.logstash }}
        run: |
          ./scripts/opensearch/docker-setup.sh

      - name: Run Integration tests against OpenSearch-${{ matrix.opensearch }}-security-${{ matrix.secure }} for logstash ${{ matrix.logstash }}
        run: |
          ./scripts/opensearch/docker-run.sh

  Integration-Test-OpenDistro:
    strategy:
      matrix:
        logstash: [ "7.13.2" ]
        opendistro: [ "1.13.2" ]
        secure: [ true, false ]

    name: Integration Test logstash-output-opensearch against OpenDistro
    runs-on: ubuntu-latest
    env:
      LOGSTASH_VERSION: ${{ matrix.logstash }}
      OPENDISTRO_VERSION: ${{ matrix.opendistro }}
      SECURE_INTEGRATION: ${{ matrix.secure }}
    steps:
      - name: Checkout plugin
        uses: actions/checkout@v1

      - name: Build and pull docker files for OpenDistro-${{ matrix.opendistro }}-security-${{ matrix.secure }} for logstash ${{ matrix.logstash }}
        run: |
          ./scripts/opendistro/docker-setup.sh

      - name: Run Integration tests against OpenDistro-${{ matrix.opendistro }}-security-${{ matrix.secure }} for logstash ${{ matrix.logstash }}
        run: |
          ./scripts/opendistro/docker-run.sh